body {
  margin: 0;
  background-color: aquamarine;
  color: rgb(20, 20, 61);
}
.title {
  margin-top: 150px;
  background-color: rgb(199, 174, 223);
  text-align: center;
}
.title-sub {
  text-align: center;
  background-color: antiquewhite;
}